@import "./fonts.css";
/*BASEIC CONF*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", serif;
  background: #FFF;
  overflow: revert;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font-family: "Work Sans", serif;
}

input {
  outline: none;
}

/*BASIC CONF*/
/*UNIQUE CONF*/
.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.btn_get-my-price {
  font-family: "Work Sans", serif;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(29, 37, 60, 0.2);
  border-radius: 4px;
  padding: 0 31px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #1D253C;
}
.btn_orange {
  background: #F46752;
  border: 1px solid rgba(29, 37, 60, 0.2);
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 40px 0 29px;
  height: 61px;
  width: 220px;
}
.btn_green {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #126F86;
  text-transform: capitalize;
}

.section_suptitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #F46752;
}
.section_title {
  font-weight: 500;
  line-height: 52px;
  color: #1D253C;
}
.section_desc {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #5A6482;
}

.grid {
  display: grid;
}

.grid_col-6 {
  grid-template-columns: 1fr 1fr;
}

.grid_col-3 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid_col-4 {
  grid-template-columns: 1fr 1fr 1fr;
}

/*UNIQUE CONF*/
.header {
  height: 105px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.header .container {
  max-width: 1340px;
}
.header_link {
  position: relative;
  display: inline-block;
  margin-left: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1D253C;
  transition: 0.15s;
}
.header_link:before {
  content: "";
  position: absolute;
  bottom: -2.5px;
  left: 0;
  height: 1px;
  width: 0;
  background: #007188;
  transition: 0.5s;
}
.header_link:hover {
  color: #007188;
}
.header_link:hover:before {
  width: 100%;
}
.header_btn_log-in {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1D253C;
  margin-right: 39px;
}

.hero {
  height: 100vh;
  background: url("../images/Hero.png") no-repeat right;
  background-position-y: 17px;
}
.hero .container {
  max-width: 1254px;
}
.hero .section_suptitle {
  font-size: 18px;
  line-height: 27px;
}
.hero .section_title {
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;
  text-transform: capitalize;
  width: 463px;
}
.hero .section_desc {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  width: 411px;
  margin: 26px 0 40px;
}
.hero_content {
  padding-top: 27px;
}

.secure {
  background: #F9F5F2;
  padding: 85px 0 84px;
}
.secure_img {
  width: 500px;
  height: 436px;
  background: #FFFFFF;
}
.secure_under-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #5A6482;
  margin-top: 20px;
}
.secure_under-desc:before {
  content: "*";
  color: #F46752;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.secure_right-side {
  padding-left: 94px;
}
.secure_right-side .section_title {
  font-weight: 600;
  font-size: 44px;
  margin-top: 26px;
}
.secure_right-side .section_desc {
  margin: 19px 0 32px;
}

.technology {
  padding: 148px 0 164px;
}
.technology_left-side {
  padding-right: 67px;
}
.technology_left-side .section_title {
  font-size: 45px;
  margin: 27px 0 35px;
}
.technology_left-side .btn_green {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: none;
  margin-top: 15px;
}
.technology_right-side {
  position: relative;
  padding-left: 8px;
}
.technology_right-side svg {
  position: absolute;
  top: -35px;
  left: -37px;
  z-index: -1;
}
.technology_img {
  width: 542px;
  height: 510px;
}
.technology_comment {
  position: absolute;
  left: -52px;
  bottom: -25px;
  width: 326px;
  height: 67px;
  background: #FFFFFF;
  box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
  border-radius: 5px;
  padding-left: 25px;
}
.technology_comm {
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  color: #1D253C;
}

.insurance {
  position: relative;
  padding: 91px 0 85px;
  background: #F8F8F8;
}
.insurance .section_suptitle {
  text-align: center;
}
.insurance .section_title {
  font-size: 43px;
  text-align: center;
  margin: 30px 0 37px;
}
.insurance .section_desc {
  width: 1077px;
  text-align: center;
  margin-bottom: 41px;
}
.insurance .grid {
  height: 310px;
  grid-column-gap: 70px;
}
.insurance .grid_col-4 {
  grid-template-columns: repeat(3, 320px);
}
.insurance_cards {
  background: #FFFFFF;
  padding: 30px 0 44px;
}
.insurance_cards_title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #1D253C;
}
.insurance_cards_desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #5A6482;
}
.insurance_card-1 .insurance_cards_title {
  margin: 15px 0 5px;
}
.insurance_card-1 .insurance_cards_desc {
  width: 212px;
}
.insurance_card-2 .insurance_cards_title {
  margin: -17px 0 15px;
}
.insurance_card-2 .insurance_cards_desc {
  font-size: 11px;
  width: 247px;
  text-align: center;
}
.insurance_card-3 .insurance_cards_title {
  margin-bottom: 10px;
}
.insurance_card-3 .insurance_cards_desc {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
.insurance_link {
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  text-decoration-line: underline;
  color: #1D253C;
}
.insurance_img1 {
  position: absolute;
  right: 0;
  bottom: -30px;
}
.insurance_img2 {
  position: absolute;
  top: -110px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.steps {
  background: #363839;
  padding: 120px 0 101px;
}
.steps .section_suptitle {
  font-weight: 500;
}
.steps .section_title {
  font-size: 44px;
  color: #FFFFFF;
  margin: 26px 0 15px;
}
.steps .section_desc {
  text-align: center;
  color: #ACB4BF;
  width: 731px;
  margin-bottom: 63px;
}
.steps_content {
  width: 100%;
  height: 195px;
}
.steps_cards {
  position: relative;
  width: 100%;
  height: 100%;
}
.steps_card_title {
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
.steps_card_desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ACB4BF;
  width: 234px;
}
.steps_card1 .steps_card_title {
  position: absolute;
  top: 91px;
  left: 100px;
}
.steps_card1 .steps_card_desc {
  position: absolute;
  bottom: -4px;
  left: 46px;
}
.steps_card2 .steps_card_title {
  position: absolute;
  top: 84px;
  left: 511px;
}
.steps_card2 .steps_card_desc {
  position: absolute;
  bottom: 23px;
  left: 0px;
  right: 0;
  margin: 0 auto;
}
.steps_card3 .steps_card_title {
  position: absolute;
  top: 91px;
  right: 101px;
}
.steps_card3 .steps_card_desc {
  position: absolute;
  bottom: 22px;
  right: 56px;
  width: 256px;
}
.steps_one {
  position: absolute;
  top: 4px;
  left: 167px;
}
.steps_two {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.steps_three {
  position: absolute;
  right: 162px;
}
.steps_circle_1 {
  position: absolute;
  top: 24px;
  left: 182px;
}
.steps_circle_2 {
  position: absolute;
  top: 24px;
  left: 524px;
}
.steps_circle_3 {
  position: absolute;
  top: 10px;
  right: 174px;
}
.steps_path {
  position: absolute;
  top: 17px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.steps_confetti {
  position: absolute;
  bottom: 100px;
  right: -167px;
}
.steps_drop_1 {
  position: absolute;
  top: -13px;
  left: 78px;
}
.steps_drop_2 {
  position: absolute;
  top: 1px;
  left: 347px;
}
.steps .btn_orange {
  margin-top: 36px;
}

/*# sourceMappingURL=style.css.map */
